################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.suo
*bin
*.vs
*obj
/4oito6.Template.Api/Properties/launchSettings.json
/4oito6.Template.Api/4oito6.Template.Api.csproj.user
4oito6.Contact.Api/Properties/launchSettings.json
4oito6.Contact.Api/4oito6.Contact.Api.csproj.user
